body{
background-image: url("batik2.jpg");
}
*{margin: 0px; padding: 0px;}
header, footer, section, nav{display: block;} 
.webstatis{
	margin: 15px auto;
	width: 980px;
}
#logo{
	float: left;
	height: 125px;
	margin-right: 10px;
	text-shadow: 
}
#judul{
height: 115px;
margin: 10px auto -15px auto;
padding: 10px 0px 20px 0px;
border-radius: 20px 20px 0 0;
box-shadow: 0 0 10px rgb(0,0,0) inset;
background-image: url("bendera.jpg");
background-size: 225px;
margin: auto;
}
#judul h1{
font-size: 30px;
line-height: 38px;
font-weight: 500px;
color: white;
}
#judul h2{
margin-top: 10px;
font-size: 18px;
font-weight: 300px;
color: white;
}

/*Bagian menu-navigasi*/
nav ul{
	width: 100%;
	background: red;
	list-style: none;
	position: relative;
	display: inline-table;
	padding: 0;
	border-radius: 0;
	box-shadow: 0 0 10px rgb(0,0,0) inset;
}
nav ul:after{
	content: "";
	clear: both;
	display: block;
	border-radius: 10px
}
nav ul li{
	float: left;
}
nav ul li:hover{
	background: white;
	border-radius: 10px;
}
nav ul li:hover a{
	color: red;
}
nav ul li a{
	display: block;
	padding: 10px 29px;
	color: white;
	text-decoration: none;
}
/*menghilangkan semua sub menu*/
nav ul ul{
display: none;
background-color: red;
border-radius: 10px;
padding: 0;
position: absolute;
top: 100%;
width: 200px
}
/*munculkan submenu ketika didekati kursor*/
nav ul li:hover > ul{
display:  block;
border-radius: 10px
}
nav ul ul li{
	float:  none;
	border-top: 1px solid;
	position: relative;
}
nav ul ul li a{
	padding: 10px 20px;
	color: black; 
}
nav ul ul li a:hover{
	background: red;
	border-radius: 10px
}
nav ul ul ul{
position: absolute;
left: 100%;
top: 0;
}

/*bagian isi*/
#konten{
	float: left;
	width: 640px;
	background: white;
}
#sidebar{
	float: right;
	width: 320px;
	background: white;
}
/*bagian bawah-footer*/
footer{
	clear: both;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: verdana;
	font-size: 15px;
	text-align: center;
	border-radius: 0 0 10px 10px;
	box-shadow:0 0 10px rgb(0,0,0) inset;
	background: red;
}
#bawah{
	color: white;
}